
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Nova+Cut&display=swap');

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Nova Cut', cursive;
}

.nav-link{
    color: white;
    
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 0px;
}

.train{
    width: 125px;
}

.brand{
    margin-right: 440px;
}

@media screen and (min-width: 320px) and (max-width: 720px){    
   

    .cont{
        width: 1280;
    }

    .navbar{
        width: 1280px;
    }
}