
main{
    margin: 50px 100px;
    width: 40%;
    
    float: left;
    background-color: wheat !important;
}

aside{
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

.service {
    margin-bottom: 50px;
    padding: 15px;
}

.delete-icon {
    float: right;
    color: #134b57;
    cursor: pointer;
    transform: scale(2);
}

.edit-icon {
    float: right;
    margin-right: 25px;
    color: #165664;
    cursor: pointer;
    transform: scale(2);
}

.delete-icon:hover,
.edit-icon:hover{
    opacity: 0.5;
}

form input,aside form button {
   width: 100%;
   padding: 15px 5%;
   font-weight: 300;
   margin-bottom: 10px;
   border: 0;
   background: #222;
   color: white;
   font-size: 15px;
    
}

form button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

aside form button:hover {
    transform: scale(1.2);
}

.serviece form,
.serviece button {
    margin-top: 20px;
    
}

.serviece button:hover{
    transform: scale(1.01);
}

@media screen and (min-width:320px) and (max-width:768px) { 
    body{
        width: 1400px;
    }  
}